@import '../../constants.scss';

.cw-image-hover > div {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;

    &.cw-overlay-content {
        padding: 3px; 
    }

    &.cw-overlay {
        background: black;
    }
}

.cw-image-hover {
    width: calc(100% - 10px);
    margin: 5px;

    > img {
        width: 100%;
    }
}

.cw-image-uploader {
    .cw-images {
        height: 400px;
        overflow: scroll;
    }
}

.cw-trash-icon {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    color: white;

    &:hover {
        color: red;
    }
}
