

.cw-address-section-header {
    margin-bottom: 10px;
}

.cw-profile {
    .cw-profile-header {
        display: flex;
        justify-content: space-between;
    }

    .cw-address-header {
        display: flex;
        justify-content: space-between;
    }

    .cw-right-side-section {
        display: flex;
        justify-content: space-between;
    }
}

.cw-img-preview {
    max-width: 300px;
}

