
.cw-header {
    display: block;
    position: fixed;
    width: 100%;
    background: red;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    z-index: 2;

    .navbar {
        border-radius: 0;
    }

    .navbar-nav li.cw-menu-button, navbar-nav li.cw-menu-button.active {
        a, a:focus, a:hover {
            text-decoration: none;
            color: white;
        }
    }

    .navbar-nav li.cw-login-button, navbar-nav li.cw-login-button.active {
        background: #0099CC;

        a, a:focus, a:hover {
            background: #0099CC;
        }
    }

    .navbar-nav li.cw-signup-button, navbar-nav li.cw-signup-button.active {
        background: red;

        a, a:focus, a:hover {
            background: red;
        }
    }

    .navbar-nav li.cw-logout-button, navbar-nav li.cw-logout-button.active {
        background: #0099CC;

        a, a:focus, a:hover {
            background: #0099CC;
        }
    }

    .navbar-nav li.cw-profile-button, navbar-nav li.cw-profile-button.active {
        background: red;

        a, a:focus, a:hover {
            background: red;
        }
    }

    .navbar-nav li.cw-hosts-button, navbar-nav li.cw-hosts-button.active {
        background: #FFBA00;

        a, a:focus, a:hover {
            background: #FFBA00;
        }
    }
}