@import './constants.scss';

body {
    padding: 10px;
}

a, a:focus, a:hover, a:active {
    color: $textColor;
}

.cw-content {
    padding-top: 50px;
    color: $textColor;
    
    // bootstrap puts -15px left/right margin on rows which causes :horizontal
    // scrollbar to appear, this was one suggested solution I found to resolve it
    // https://github.com/twbs/bootstrap/issues/6686
    width: calc(100% - 30px);
}

h2 {
    font-size: $h2FontSize;
}

.cw-thumbnail {
    height: 300px;
    margin-right: 10px;
}

.cw-thumbnail-grid {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.cw-panel {
    .panel-body {
        padding: 10px;
    }
}

.cw-action-link {
    cursor: pointer;
    text-decoration: underline;
}

.modal-content {
    border-radius: 0;
}

.form-control:focus {
  border-color: transparent;
  border-bottom-color: $activeColor;
  border-radius: 0;  
  box-shadow: none;
}

.form-control {
  border-color: transparent;
  border-bottom-color: $borderGray;
  border-radius: 0;
//   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.panel {
    border-radius: 0;
}

.cw-button {
    font-weight: bold;
    text-decoration: underline;
    margin: 0 2px;
    cursor: pointer;
}

.cw-save-button {
    color: $activeColor;
}

.cw-delete-button {
    color: $dangerColor;
}

.cw-left-button {
    float: left;
}

.cw-right-button {
    float: right;
}

.cw-text-primary {
    font-weight: bold;
}