@import './constants.scss';

body {
    padding: 10px;
}

.cw-content {
    padding-top: 50px;
    color: $textColor;
    
    // bootstrap puts -15px left/right margin on rows which causes :horizontal
    // scrollbar to appear, this was one suggested solution I found to resolve it
    // https://github.com/twbs/bootstrap/issues/6686
    width: calc(100% - 30px);
}

h2 {
    font-size: $h2FontSize;
}

.cw-thumbnail {
    height: 300px;
    margin-right: 10px;
}

.cw-thumbnail-grid {
    display: flex;
    justify-content: center;
}

.cw-panel {
    .panel-body {
        padding: 10px;
    }
}

.cw-action-link {
    cursor: pointer;
    text-decoration: underline;
}